@using GridMvc.Html
@model IEnumerable<Pharmacy.WEB.Core.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "Order list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr/>
@Html.Grid(Model).Columns(col =>
{
    col.Add(t => t.Id)
        .Titled("Order Number")
        .SetWidth(50);
    col.Add(t => t.PharmacyNumber)
        .Titled("Pharmacy Number");
    col.Add(t => t.Type);
    col.Add(t => t.OrderDate)
        .Titled("Order Date")
        .Format("{0:yyyy-MM-dd}");
    col.Add().Encoded(false).Sanitized(false).SetWidth(20)
        .RenderValueAs(t => @Html.ActionLink("Edit", "Edit", new { id = t.Id }));
    col.Add().Encoded(false).Sanitized(false).SetWidth(20)
       .RenderValueAs(t => @Html.ActionLink("Details", "Details", new { id = t.Id }));
    col.Add().Encoded(false).Sanitized(false).SetWidth(20)
       .RenderValueAs(t => @Html.ActionLink("Delete", "Delete", new { id = t.Id }));
}).Sortable().Selectable(false)
